<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path(), { class: 'navbar-brand' } do %>
        <i class="fa-regular fa-badge"></i> cruller.club
      <% end %>
      <span class="navbar-text text-end">
        <a href="https://beaukeh.cruller.club/static/<%= @color %>" target=_blank>
          <i class="fa-regular fa-circle-exclamation"></i>
        </a>
      </span>
    </div>
  </nav>
</header>