<div class="meta fancy">
  <%= link_to(show_path(color: color.to_s)) do %>
  <div style="color: #<%= card_color %>; opacity: 0.50;">
    <i class="bi bi-link-45deg"></i><%= "https://cruller.club/#{color}" %>
  </div>
  <% end %>
</div>