<%- view_title "Welcome!" %>

<style>
  body {
    background-color: #<%= @color %>;
  }
</style>

<div class="container col-sm-8">
  <div class="row text-center">
    <div class="mx-auto">
      <%= color_card(@color, @card_color, @text_color, root_path) %>
    </div>
  </div>
  <div class="row text-start">
    <div class="mx-auto">
      <%= meta_card(@color, @card_color, @text_color) %>
    </div>
  </div>
</div>
